<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Customer Log</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyB96vp1Xs-IGhp4d3aHlvyFR1aJZXKfdEw",
            authDomain: "customer-log-313dd.firebaseapp.com",
            databaseURL: "https://customer-log-313dd.firebaseio.com",
            storageBucket: "customer-log-313dd.appspot.com",
            messagingSenderId: "124465699915"
        };
        firebase.initializeApp(config);
    </script>
    <script src="app.js">
    </script>
</head>

<body ng-app="customerLog">
    <div ng-controller="CustomerLogController as vm">
        <h1>Customer Log</h1>

        <h3 ng-hide="newCustomerForm">
            <label> Add a Customer<input type="checkbox" ng-model="newCustomerForm" ng-init="newCustomerForm"></label>
        </h3>

        <form name="customerForm" ng-submit="vm.addCustomer(); customerForm.$setPristine(); newCustomerForm=false" ng-show="newCustomerForm">

            <label>First Name </label>
            <input name="first_name" type="text" ng-model="vm.newCustomer.name.first_name" placeholder="First Name" required>
            <p ng-show="customerForm.first_name.$error.required && customerForm.$dirty">Please enter customer's first name.</p>

            <label>Last Name</label>
            <input name="last_name" type="text" ng-model="vm.newCustomer.name.last_name" placeholder="Last Name" required>
            <p ng-show="customerForm.last_name.$error.required && customerForm.last_name.$dirty">Please enter customer's last name.</p>

            <label>Email Address</label>
            <input name="email" type="email" ng-model="vm.newCustomer.email" placeholder="Email Address" required ng-pattern="vm.emailPattern">
            <p ng-show="customerForm.email.$error.required && customerForm.email.$dirty">Please enter an email.</p>
            <p ng-show="customerForm.email.$error.pattern && customerForm.email.$dirty">Email not valid.</p>

            <label>Phone Number (digits only)</label>
            <input name="phone_number" type="number" ng-model="vm.newCustomer.phone_number" placeholder="Phone Number" required ng-minlength="10" ng-maxlength="10">
            <p ng-show="((customerForm.phone_number.$error.required || customerForm.phone_number.$error.number) && customerForm.phone_number.$dirty)">Please enter a phone number.</p>
            <p ng-show="((customerForm.phone_number.$error.minlength || customerForm.phone_number.$error.maxlength) && customerForm.phone_number.$dirty)">Phone number should be 10 digits long.</p>

            <label>Address</label>

            <label>Street</label>
            <input name="street" type="text" ng-model="vm.newCustomer.address.street" placeholder="Street" required>
            <p ng-show="customerForm.street.$error.required && customerForm.street.$dirty">Please enter street address.</p>

            <label>City</label>
            <input name="city" type="text" ng-model="vm.newCustomer.address.city" placeholder="City" required>
            <p ng-show="customerForm.city.$error.required && customerForm.city.$dirty">Please enter city.</p>

            <label>State</label>
            <input name="state" type="text" ng-model="vm.newCustomer.address.state" placeholder="State" required ng-minlength="2" ng-maxlength="2">
            <p ng-show="((customerForm.state.$error.required || customerForm.state.$error.number) && customerForm.state.$dirty)">Please enter a state.</p>
            <p ng-show="((customerForm.state.$error.minlength || customerForm.state.$error.maxlength) && customerForm.state.$dirty)">State should be in abbreviated form.</p>

            <label>Zipcode</label>
            <input name="zip" type="number" ng-model="vm.newCustomer.address.zip" placeholder="Zipcode" required ng-minlength="5" ng-maxlength="5">
            <p ng-show="((customerForm.zip.$error.required || customerForm.zip.$error.number) && customerForm.zip.$dirty)">Please enter a zipcode.</p>
            <p ng-show="((customerForm.zip.$error.minlength || customerForm.zip.$error.maxlength) && customerForm.zip.$dirty)">Zip code should be 5 digits long.</p>

            <button type="submit">Add Customer</button>
            <button type="reset" ng-click="newCustomerForm=false">Cancel</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody ng-repeat="customer in vm.customers">
                <tr>

                    <td>
                        <p ng-hide="customerEdit">
                            {{customer.name.first_name}} {{customer.name.last_name}}
                        </p>
                        <input type="text" ng-show="customerEdit" ng-model="customer.name.first_name" placeholder="{{customer.name.first_name}}">
                        <input type="text" ng-show="customerEdit" ng-model="customer.name.last_name" placeholder="{{customer.name.last_name}}">
                    </td>

                    <td>
                        <p ng-hide="customerEdit">{{customer.email}}</p>
                        <input type="text" ng-show="customerEdit" ng-model="customer.email" placeholder="{{customer.email}}">
                    </td>

                    <td>
                        <p ng-hide="customerEdit">{{customer.phone_number}}</p>
                        <input type="text" ng-show="customerEdit" ng-model="customer.phone_number" placeholder="{{customer.phone_number}}">
                    </td>

                    <td>
                        <p ng-hide="customerEdit">{{customer.address.street}}, {{customer.address.city}}, {{customer.address.state}} {{customer.address.zip}}</p>
                        <input type="text" ng-show="customerEdit" ng-model="customer.address.street" placeholder="{{customer.address.street}}">
                        <input type="text" ng-show="customerEdit" ng-model="customer.address.city" placeholder="{{customer.address.city}}">
                        <input type="text" ng-show="customerEdit" ng-model="customer.address.state" placeholder="{{customer.address.state}}">
                        <input type="text" ng-show="customerEdit" ng-model="customer.address.zip" placeholder="{{customer.address.zip}}">
                    </td>

                    <td ng-hide="customerEdit">
                        <input type="checkbox" ng-model="customerEdit" ng-init="customerEdit">
                    </td>

                    <td ng-show="customerEdit">
                        <button ng-click="vm.update(customer); customerEdit=false">Save</button>
                    </td>

                    <td>
                        <button ng-click="vm.delete(customer)"></button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</body>

</html>
